<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Welcome Employee</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let reporttype of vm.reportTypes" [routerLink]="['/uploadinfo',reporttype.id]">{{reporttype.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!--<mat-toolbar color="primary">
    <button type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>ng7-menu-sidenav</span>
  </mat-toolbar>-->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
