<div>
  <div class="example-container">
    <mat-card>
      <mat-card-header>
        <h2>{{reportTypeVm.name}}</h2>
      </mat-card-header>
      <mat-card-content>
        <mat-label>Date </mat-label>
        <mat-form-field style="padding:10px;">
          <input matInput [matDatepicker]="picker1" placeholder="" [(ngModel)]="reportDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div>
          <label style="padding: 10px;">Source File Required</label>
        </div>
        <div *ngFor="let sourcefile of sourceFileConfigs">
          <div style="padding: 10px;">
            <mat-label>{{sourcefile.fileName}}</mat-label>
            <div>
                <input type="file" class="custom-file-input" name="SourceFile" id="{{sourcefile.fileName}}" (change)="onFileChange($event)" style="display:inline;opacity: 1; width:auto">
                <img name="valid-icon" class="img " src="assets/images/u489.png" *ngIf="sourcefile.Valid">
                <img name="invalid-icon" class="img " src="assets/images/u487.png" tabindex="0" style="outline: none;" *ngIf="sourcefile.InValid">
            </div>
          </div>
        </div>
        <mat-label>Remark </mat-label>
        <mat-form-field style="padding:10px;width:50%">
          <textarea matInput matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=20 [(ngModel)]="remark"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" (click)="validate()" *ngIf="showValidateButton">Validate File</a>
        <a mat-raised-button color="primary" (click)="generateReport()" *ngIf="showGenerateButton">Generate Report</a>
        <a mat-raised-button color="warn">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
