<div>
  <div class="example-container">
    <mat-card>
      <h2>{{reportTypeVm.name}}</h2>
      <div style="text-align:center">
        <mat-label>Date From </mat-label>
        <mat-form-field style="padding:10px;">
          <input matInput [matDatepicker]="picker1" placeholder="">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-label>Date To </mat-label>
        <mat-form-field style="padding:10px;">
          <input matInput [matDatepicker]="picker2" placeholder="">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-label>Status </mat-label>
        <mat-form-field style="padding:10px;">
          <mat-select>
            <mat-option *ngFor="let status of StatusList" [value]="status.value">
              {{status.viewValue
        }}
        </mat-option>
        </mat-select>
        </mat-form-field>
</div>
      <div style="text-align:center">
        <a mat-raised-button color="primary" style="margin: 10px;">Search</a>
        <a mat-raised-button color="primary" style="margin: 10px;">Clear</a>
        <a mat-raised-button color="primary" style="margin: 10px;" [routerLink]="['/uploadinfo/Upload',reportType]">Input Source</a>
      </div>
      <!--<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>-->
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef mat-sort-header> created </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header> createdBy </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastModified">
          <mat-header-cell *matHeaderCellDef mat-sort-header> lastModified </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastModified}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastModifiedBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header> lastModifiedBy </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastModifiedBy}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="generateDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> generateDate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.generateDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="generateBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header> generateBy </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.generateBy}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a type="button">
              <mat-icon class="icon">edit</mat-icon>
            </a>
            <a type="button">
              <mat-icon class="icon">delete</mat-icon>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>
</div>
