<form [formGroup]="reporttypeForm" autocomplete="off" novalidate (ngSubmit)="createReportType(reporttypeForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="example-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Report type's name" formControlName="name" id="name">
      <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
    </mat-form-field>
  </div>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!reporttypeForm.valid">Create</button>
    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</form>
